.main_heading_margin_top
  &nbsp; 
  #page_navigation.section
    = link_to('/', I.t('links.home'))
    = link_to('/links', I.t('links.links'))
  #quick_links.section
    

  -#load plugins partials in alphabetical order
  - @plugin_right_sidebar_partials.each do |file|
    =haml read_file(file)
