
%nav#index_navigation
  
  %h2 Scraps
  %ul
    - @scraps.each do |scrap| 
      = link_to_file :scrap, scrap

  %h2 Articles
  %ul
    - @articles.each do |article| 
      = link_to_file :article, article

  %h2 Notes
  %ul
    - @notes.each do |note| 
      = link_to_file :note, note


-#load plugins partials in alphabetical order
- @plugin_index_partials.each do |file|
  =haml read_file(file), :layout=>nil



  


