%h1 About

%p 
  Scrapboook in my personal collection of notes, scraps ... that...

%nav#index_navigation
  %h1 Scraps
  %ul
    - @scraps.each do |scrap| 
      %li
        = link_to_file :scrap, scrap
  .clear

  %h1 Articles
  %ul
    - @articles.each do |article| 
      %li
        = link_to_file :article, article
  .clear

  %h1 Notes
  %ul
    - @notes.each do |note| 
      %li
        = link_to_file :note, note
  .clear

%hr

-#load plugins partials in alphabetical order
- @plugin_index_partials.each do |file|
  %section.plugin
    =haml read_file(file), :layout=>nil



  


