- content_for :main_heading do
  aaaaaaaaaaaaaa 

%h2 notes
%ul
  - @notes.each do |note| 
    %span.link_to_file
      = link_to_file :note, note



%h2 Articles
%ul
  - @articles.each do |article| 
    %span.link_to_file
      = link_to_file :article, article

%h2 Scraps

%ul
  - @scraps.each do |scrap| 
    %span.link_to_file
      = link_to_file :scrap, scrap



