!! 
    %link{"rel" => "stylesheet", "href" => "/purple_skin.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/main.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/code.css", "type" => "text/css"}

    -#%link{ "href"=> 'http://fonts.googleapis.com/css?family=Shadows+Into+Light&v2', 'rel'=> 'stylesheet', 'type'=>'text/css'}



    -#change lines as you desire
    %meta{"author" => "Equivalent (eq8.eu)"}  
    %title= @title || "#{OWNER_NAME} scrapbook"
    

  %body.main
    %div.container.rounded_borders.border#content
      #content_matroska
        #left_side
          .main_heading_margin_top
            %h1
              =yield_content :main_heading
          =yield 

        #right_side
          = haml :"_right_side"

        .clear    



