!!! 5
%html
  %head
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %meta{"http-equiv" => "refresh", :content => "120"}


    %link{"rel" => "stylesheet", "href" => "/purple_skin.css", "type" => "text/css"}
    %link{ :rel=>"icon", :type=>"image/png", :href=>"/favicon.png" }



    %link{"rel" => "stylesheet", "href" => "/purple_skin.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/main.css", "type" => "text/css"}
    %link{"rel" => "stylesheet", "href" => "/code.css", "type" => "text/css"}

    -#%link{ "href"=> 'http://fonts.googleapis.com/css?family=Shadows+Into+Light&v2', 'rel'=> 'stylesheet', 'type'=>'text/css'}



    -#change lines as you desire
    %meta{"author" => "Equivalent (eq8.eu)"}  
    %title= @title || "#{settings.owner_name} - scrapbook"
    

  %body.main
    %div.container.rounded_borders.border#content.box_shadow
      #content_matroska
        #right_side
          %nav
            = haml :"_right_side"


        #left_side
          .main_heading_margin_top
            %h1
              =yield_content :main_heading
          .main_yield_content.rounded_borders    
            =yield 

        .clear    



