%nav
  %ul
    %li
      %a{:href=>'#read_books'} Read books backlog
    %li
      %a{:href=>'#watched_screencasts_rest'} Watched screencasts backlog
    %li
      %a{:href=>'#read_articles'} Read articles backlog

%section#read_books
  %h2
    Backlog of read books
  %ul.floating
    - @books['books'].each do |key, books_data|
      %li
        %a{:href=>books_data['url']}
          %img{:src=>books_data['picture'], :alt=>books_data['alt']}
  .clear

%section#watched_screencasts
  %h2
    Backlog of watched screencasts

  %h3#watched_screencasts_rest Other
  %ul.floating
    - @books['screencasts'].each do |key, screencast_data|
      %li= screencast(screencast_data['name'], screencast_data['url'], screencast_data['picture'], screencast_data['alt'])

  .clear



%section#read_articles
  %h2 Backlog of read articles
  %p
    For better tracking of issues, I keep backlog of articles that helped me solve development problems. On the top of the section are newest links.
  ~ markdown(@readed_articles)




%footer
  ='<a href="https://twitter.com/equivalent8" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @equivalent8</a><script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>'
