@import 'bourbon/bourbon'
@import 'css/reset'

//* I'm counting in 12 cols system http://960.gs/demo.html  */

$body_bg_color: #DCD5DA
$body_bg_color_second: #DCD5DA
$holder_bg_color: #DCDCDC
$button_color: purple
$button_color2: #DB95D7

html, body
  background-color: $body_bg_color
  width: 100%
  margin: 0px
  font-size: 90%

html
  @include radial-gradient(50%, circle,  $body_bg_color, #fff)

body
  padding: 10px
  font-family: $helvetica

a
  color: purple
  text-decoration: none
  &:hover, &:active
    color: black
    text-decoration: underline

.holder
  width: 960px                   //ninesixtygs property
  margin: 20px auto 0px auto   //center_hack + some margin 
  @include border-radius(10px)
  background-color: $holder_bg_color
  @include box-shadow(0 0 5px 3px hsla(0, 0%, 0%, 0.65))

  hgroup, nav#site, article, aside
    display: block                //htmlfive 
    padding: 10px
    margin-left: 10px
  hgroup, article
    width: 690px
    float: left
  nav#site, aside
    width: 210px
    float: right
  header
    min-height: 75px
  hgroup
    h1
      font-size: 2em
    h2
      font-size: 0.8em
  article
    @include border-radius(10px)
    background: white
    margin-bottom: 20px
    h1, h2, h3, h4
      margin-bottom: 0.4em
    h1
      font-size: 2em
      color: #000
    h2 
      font-size: 1.8em
      color: #111
    h3
      font-size: 1.6em
      color: #222
    h4
      font-size: 1.4em
      color: #333
    p 
      margin-bottom: 1em
  nav#site
    li
      position: relative
      top: -6px
      float: left
      margin-right:  4px
      margin-top: 0px
      margin-bottom: 10px
      a
        font-size: 12px
        display:block
        padding: 4px 8px
        margin-top: 0px
        background: #666
        color: white
        @include border-radius( 0 0 8px 8px)
        &:hover, &:active
          background-color: #333
          color: white
          text-decoration: none
  aside
    h1,h2,h3,h4
      margin-top: 1em
      &:first-child
        margin-top: 0px
    p
      margin-left: 10px
      margin-bottom: 0px
    section
      margin-top: 1em
      margin-left: 0px
      padding: 10px
      @include border-radius(10px)
      background: #eee
      p
        margin-left: 0px


.wrapper
  min-height: 100%
.footer
  display: block
  margin-bottom: -20px

.clear
  clear: both
.hidden
  display: none


html
  article
    p, ul
      margin-left: 1em 

html#read_backlog
  article
    nav
      margin-bottom: 10px
      li
        float: left
        margin-right: 20px
      
    footer
      margin-top: 50px
      a, iframe
        margin-left: 15px
    section
      clear: both
      ul.floating
        li
          margin-right: 15px
          float: left
      div.noimage
        font-size: 11px
        overflow: hidden
        background: #333
        border: solid 2px black
        padding: 4px
        color: white
        a
          color: white
    section#read_books 
      img
        max-height: 100px
        max-width: 100px
    section#watched_screencasts
      img
        max-height: 120px
        max-width: 120px
      div.noimage
        width: 100px
        height: 60px

html#home
  nav#index_navigation
    h1 
      clear: both
      margin-top: 1em
    li
      display: block
      float: left
      margin: 1px 1px
      a
        display: block
        padding: 3px 8px 5px 8px
        @include border-radius(8px)
        background-color: $button_color
        color: #eee
        &:hover, &:active
          background-color: $button_color2
          text-decoration: none



.CodeRay
  @include border-radius( 8px)
  overflow-x: auto
  

@media screen and (max-device-width: 480px) 







@import 'css/code'
