/* colors */
pre{
  background: silver;
  padding:10px;
}

div.CodeRay pre{
  background: black;
  padding:0px;
}

body a{
  color: #702777;
  text-decoration:none;
}

body a:hover{
  color: #480B77;
  text-decoration:none;
}

body {
  background: #DCD5DA;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #1C1C1C;
}



.main .border{
  border: solid black 1px;
}

.main div.main_yield_content{
  background:white;
  padding: 10px;
}
.main div.main_heading_margin_top h1{
  font-family: 'Shadows Into Light', cursive;
  color: color: #1C1C1C;
}

.main div#content .markuped_content h1 { font-size: 18px; }
.main div#content .markuped_content h2 { font-size: 14px; }


.main div#content div#right_side div#page_navigation a{
  background: black;
  color:silver;
  font-weight: bold;
  padding: 10px 20px 10px;
}

.main div#content div#right_side div#page_navigation a:hover{
  color:white;
}


.main div#index_navigation .link_to_file {
    background: #702777;
    border: 3px solid #702777;
    border-radius: 5px 5px 5px 5px;
    display: block;
    float: left;
    margin-bottom: 4px;
    margin-right: 4px;
    padding: 1px 4px;
}
.main div#index_navigation .link_to_file:hover {
    background: #C073FF;
}

.main div#index_navigation .link_to_file a{
  color:white;
  text-decoration:none;
}



