
%p
  =link_to 'archive_of_developer_articles', 'Archieve of readed articles on Rails, Ruby, Sinatra, server management'

%p
  =link_to 'archive_of_designer_articles', 'Archieve of readed articles on webdesigning, html & css, layouting'


%p
  =link_to 'interesting_links', 'Archive of other interesting readed sutuf (non-rails, non-devel)'
