
%p
  =link_to 'archive_of_developer_articles', 'Archieve of readed articles on Rails, Ruby, Sinatra, server managementa as well as on Web-design (css, css3, html4, html5, Gimp, Fireworx...)'

%p
  =link_to 'interesting_links', 'Archive of other interesting readed sutuf (non-rails, non-devel)'
