%div{:id=>'cse', :css=>"width: 100% "} Loading

%script{:type => "text/javascript",
        :src  => "http://www.google.com/jsapi"}
:javascript
   google.load('search', '1', {language : 'en', style : google.loader.themes.BUBBLEGUM});
   google.setOnLoadCallback(function() {
     var customSearchControl = new google.search.CustomSearchControl('012486574671609930242:5jxcbhyoqa4');
     customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
    customSearchControl.draw('cse');
   }, true);


